body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

textarea {
    width: 95%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
    justify-content: center;
}

#result {
display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

input {
    width: 290px;
    padding: 10px;
    height: 40px;
}
form{
    padding-left: 200px;
}
table th {
    background-color: #4CAF50;
    color: #fff;
}
/* Media queries for responsiveness */
@media screen and (max-width: 600px) {

  /* Hide the data-table */
  #data-table {
    display: none;
  }

  table thead,
  table tbody,
  table tr,
  table th,
  table td {
    display: block;
  }

  table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  table tbody tr {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }

  table td {
    border: none;
    position: relative;
    padding-left: 50%;
  }

  table td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-label);
    font-weight: bold;
  }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  
/* Styles for screens with width between 601px and 1024px */
body {
padding: 20px;
}

.container {
max-width: 800px;
}
}

@media screen and (min-width: 1025px) {
/* Styles for screens with width greater than 1024px */
body {
padding: 40px;
}

.container {
max-width: 600px;
}
}